/* :root {

} */

* {
  box-sizing: border-box;
  /* margin: 0; */
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #181818;
}

.clear::after,
.clear::before {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: 'open sans', sans-serif, Helvetica, arial;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.3rem;
  word-spacing: .03rem;
  letter-spacing: .04rem;
  color: #ccc;
}

p {
  font-family: roboto, sans-serif, helvetica;
}

.errorDiv {
  width: 80%;
  margin: 50px auto;
  text-align: center;
  font-size: 1.3rem;
}

/**
 * ============================================
 *    Top Container styles
 * ============================================
 */

#topContainer {
  min-height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  min-height: calc(100vh-90px);
}

#navBarContainer {
  background-color: #111;
  width: 17%;
  height: 100vh;
  position: fixed;
  box-shadow: 2px 0 5px rgb(28, 27, 27);
  left: 0;
  top: 0;
}

/* =======Navgation bar styles============ */

.navBar {
  display: flex;
  flex-direction: column;
}

.navBar h1 {
  width: 35%;
  height: 80px;
  margin: 15px auto;
}

.navBar img {
  max-height: 100%;
  max-width: 100%;
}

#topContainer .navBar .group {
  text-align: center;
}

#topContainer .navBar .group a {
  display: block;
  text-align: left;
  padding: 5px 25px;
  text-decoration: none;
  color: #a0a0a0;
  cursor: pointer;
}

#topContainer .navBar .group a:hover {
  background: #404040;
  color: #eee;
}

/**============================================
 *        Main Content
 * ============================================
 */

#mainViewContent {
  overflow: hidden;
  width: 83%;
  margin-left: 17.1%;
  padding-bottom: 90px;
  /* border: 2px solid blue; */
}

#mainContent {
  padding: 20px 25px 10px;
}

#pageHeadingBig {
  text-align: center;
}

#gridViewContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

/**
 *=============================================
 * Playingbar styles
 * ============================================
 */

#nowPlayingBarContainer {
  width: 100%;
  background-color: #282828;
  position: fixed;
  bottom: -90px;
}

#nowPlayingBar {
  display: flex;
  height: 90px;
  padding: 16px;
  color: #fff;
}

#nowPlayingLeft,
#nowPlayingRight {
  width: 30%;
  min-width: 180px;
}

#nowPlayingCenter {
  width: 40%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nowPlayingBar .content {
  width: 100%;
}

.playerControls .buttons {
  margin: 0 auto;
  display: table;
}

.controlButton {
  border: none;
  background-color: transparent;
  vertical-align: middle;
}

.controlButton img {
  max-height: 20px;
  max-width: 20px;
}

.controlButton.play img,
.controlButton.pause img {
  max-width: 32px;
  max-height: 32px;
}

.controlButton.pause,
.controlButton.mute {
  display: none;
}

.controlButton:hover {
  cursor: pointer;
}

.playbackBar {
  color: #a0a0a0;
  display: flex;
}

.playbackBar .progressTime {
  font-size: 11px;
  min-width: 40px;
  text-align: center;
}

.playbackBar .progressBar {
  width: 100%;
  height: 12px;
  display: inline-flex;
  cursor: pointer;
  margin-top: 8.5px;
}

.progressBarBg {
  width: 100%;
  background-color: #404040;
  height: 4px;
  vertical-align: middle;
  border-radius: 2px;
  position: relative;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  width: inherit;
  height: inherit;
}

progress[value]::-webkit-progress-bar {
  background-color: #404040;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg,
    transparent 33%, rgba(0, 0, 0, .1) 33%,
    rgba(0, 0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
    rgba(255, 255, 255, .25),
    rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #09c, #f44);

  border-radius: 2px;
  background-size: 35px 20px,
    100% 100%,
    100% 100%;
}

/* .progress {
  background-color: #a0a0a0;
  height: 4px;
  width: 0%;
  border-radius: 2px;
} */

#nowPlayingLeft .content {
  height: 57px;
  width: 100%;
}

.albumLink img.albumArtwork {
  margin-right: 15px;
  max-height: 100%;
  max-width: 57px;
  float: left;
  background-size: cover;
  border-radius: 2px;
  box-shadow: 0 0 2px #ffffab;
}

.trackInfo {
  display: flex;
  flex-direction: column;
  font-size: .75rem;
}

#nowPlayingLeft .trackName {
  color: #eee;
  font-weight: medium;
}

#nowPlayingLeft .artistName {
  line-height: 1rem;
  color: rgb(172, 170, 170);
  font-style: italic;
  font-family: 'open sans', sans-serif, helvetica;
  font-weight: 500;
}

#nowPlayingRight .volumeBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

#nowPlayingRight .progressBar {
  width: 40%;
  height: 12px;
  display: inline-flex;
  cursor: pointer;
  margin-top: 10px;
}

#nowPlayingRight .progressBarBg {
  width: 100%;
  background-color: #404040;
  height: 4px;
  vertical-align: middle;
  border-radius: 2px;
}

#nowPlayingRight .progress {
  width: inherit;
  height: inherit;
  background-image: -webkit-linear-gradient(-45deg,
    transparent 33%, rgba(0, 0, 0, .1) 33%,
    rgba(0, 0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
    rgba(255, 255, 255, .25),
    rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #09c, #f44);

  border-radius: 2px;
  background-size: 35px 20px,
    100% 100%,
    100% 100%;

}

@media only screen and (max-width: 800px) {
  #topContainer {
    display: flex;
    flex-direction: column;
  }

  #navBarContainer,
  #mainViewContent {
    width: 100%;
    margin: 0;
    height: initial;
    position: initial;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #navBarContainer {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  nav.navBar,
  nav.navBar h1,
  #topContainer nav.navBar .group a {
    text-align: center;
    width: 100%;
  }

  /* nav.navBar .navigation::before {
    content: "_";
    display: block;
  }
  nav.navBar .navigation:before::hover .navBar {
    height: auto;
  }
  nav.navBar .navigation {
    height: 25px;
    border: 1px solid blue;
    overflow: hidden;
  } */
  nav.navBar h1 {
    padding-bottom: 20px;
  }

  /*=============Main Content======*/
  #gridViewContainer {
    justify-content: center;
  }

  /*==============NowPlayingBar*/
  #nowPlayingBar {
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    justify-content: center;
  }

  #nowPlayingBar #nowPlayingLeft,
  #nowPlayingBar #nowPlayingCenter,
  #nowPlayingBar #nowPlayingRight {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  #nowPlayingBar #nowPlayingLeft .content {
    height: auto;
  }

  #nowPlayingBar #nowPlayingLeft .content img {
    float: none;
  }

  #nowPlayingBar #nowPlayingRight .volumeBar {
    justify-content: center;
  }
}

#audioEle {
  visibility: hidden;
}

@media only Screen and (max-width: 565px) {}